@font-face {
    font-family: 'Satoshi';
    src: url('../OTF/Satoshi-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Satoshi Light';
    src: url('../OTF/Satoshi-Light.otf') format('opentype');
}
:root {
    --bg: #0D0D0E;
    --color1:#FACC48;
    --color2: #B13CC9;
    --color3: #3BC9B2;
    --txtColor:#FFFFFF;
    --font: 'Satoshi Light';
}
* {
    font-family: var(--font);
    color: var(--txtColor);
}
body {
    margin: 0;
    background-color: var(--bg);
}
.homepage{

    width:100vw;
    height: 100vh;
    /* border: green solid 5px; */
}
#desc {
    position: absolute;
    top: 50%;
    margin: 0;

    font-size: 1.8rem;
    line-height: 3rem;
}
#interactive {
    position: absolute;
    bottom: 10%;
    margin: 0;
    width: 40vw;
    height: fit-content;
    /* border: green solid 5px; */

    /* font-family: 'Satoshi Light'; */
    font-size: 1rem;
    text-align: center;
    /* color: var(--txtColor); */
}
.gallery-options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    width: 40vw;
    height: 30vh;

    font-size: 1.3em;
    font-weight: 900;
    /* border:green solid 5px; */
}
.gallery-options > ul {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    list-style-type: none;
    /* border: yellow solid 5px */
}
.nft-gallery {
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    row-gap: 6vh;
    grid-template-areas: 'a'
                         'b'
                         'c'
                         'd'
                         'e'
                         'f';
    width: 100vw;
    height: fit-content;
}
.nft-gallery img {
    object-fit: contain;
    width: 100%;
}
#b5 {
    grid-area: a;
}
#b1 {
    grid-area: b;
}
#b4 {
    grid-area: c;
}
#b9 {
    grid-area: d;
}
#b11 {
    grid-area: e;
}
#b3 {
    grid-area: f;
}

/* media query */
@media screen and (min-width:40em) {
    #desc {
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 0.1vw;
    }
    #interactive {
        font-size: 1.4rem;
    }
    .nft-gallery {
        width: 80vw;
        margin: 0 auto;
        gap: 6vh;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: fit-content; */
        grid-template-areas: 'a b c'
                             'd e f';
        /* border: red solid 5px */
    }
}
